# =================================================
# PPN: Ignore generated data + analysis outputs
# =================================================
04_DATA/
05_ANALYSIS/

# Common experiment outputs
02_EXPERIMENTS/**/OUTPUTS/

# If you want to KEEP plots/CSVs/JSON in git, delete these 3 lines:
**/*.png
**/*.csv
**/*.json

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# OS/editor
.DS_Store
Thumbs.db
.vscode/